extends ../../layouts/default.pug
include ../../mixins/fillter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug
include ../../mixins/format-time.pug
block main
    if (role.permission.includes("products-view"))
        h2 Danh Sách Sản Phẩm
        +alertsuccess(5000)
        +alerterror(5000)
        .card.mb-3
            .card-header Bộ lọc và Tìm kiếm
            .card-body     
                .row 
                    .col-6
                        +fillter-status(FillterStatus)
                    .col-3 
                        +search(keyword)
        .card.mb-3
            .card-header Danh Sách Sản Phẩm
                .card-body
                    .row 
                        .col-4
                            if (role.permission.includes("products-edit"))
                                +form-change-multi(`${PrefixAdmin}/products/change-multi?_method=PATCH`)
                        .col-5
                            +sort()
                        .col-3
                            if (role.permission.includes("products-create"))
                                a(href=`${PrefixAdmin}/products/create` class="btn btn-outline-success") +Thêm Mới
                    table(class="table table-hover" checkbox-multi)
                            thead
                                tr  
                                    th
                                        input(type="checkbox" name="checkall")
                                    th STT
                                    th Hình Ảnh
                                    th Tiêu Đề
                                    th Giá
                                    th Vị trí
                                    th Trạng Thái
                                    th Người Tạo
                                    th Hành Động
                            tbody 
                                each item,index in product
                                    tr      
                                        td
                                            input(type="checkbox" name="id" value=item.id)
                                        td #{pagination.skip + index + 1}
                                        td
                                            img(src=item.thumbnail, width="120px" height="auto" alt=item.title)
                                        td #{item.title}
                                        td #{item.price}$
                                        td 
                                            input(type="number" min="1" name="position" style="width:60px" value=item.posittion)
                                        td  
                                            if (role.permission.includes("products-changeStatus"))
                                                if(item.status == "active")
                                                    a(href="javascript::" class="badge badge-success" data-id=item.id data-status=item.status change-status ) Hoạt Động
                                                else
                                                    a(href="javascript::" class="badge badge-danger" data-id=item.id data-status=item.status  change-status  ) Dừng Hoạt Động
                                            else 
                                                if(item.status == "active")
                                                    span( class="badge badge-success") Hoạt Động
                                                else
                                                    span( class="badge badge-danger") Dừng Hoạt Động
                                        td  
                                            p #{item.AccountFullName}
                                            p 
                                                +formatDate(item.createdBy.createdAt)
                                        td  
                                            a(class="btn btn-secondary btn-sm btn-detail" href=`${PrefixAdmin}/products/detail/${item.id}` ) Chi Tiết
                                            if (role.permission.includes("products-edit"))
                                                a(class="btn btn-warning btn-sm" href=`${PrefixAdmin}/products/edit/${item.id}` ) Sửa
                                            if (role.permission.includes("products-delete"))
                                                button(class="btn btn-danger btn-sm ml-1" data-id=item.id btn-delete-item ) Xóa
        +pagination(pagination) 
        form(action="", method="POST" data-path=`${PrefixAdmin}/products/change-status` id="form-change-status" class="d-none")    
        form(action="", method="POST" data-path=`${PrefixAdmin}/products/delete` id="form-delete-item")    