extends ../../layouts/default.pug
include ../../mixins/fillter-status.pug
block main
    h2 Danh Sách Sản Phẩm
    .card.mb-3
        .card-header Bộ lọc và Tìm kiếm
        .card-body     
            .row 
                .col-6
                    +fillter-status(FillterStatus)
                .col-3 
                    //- select(name="status" class="form-control")
                    //-     each item in FillterStatus
                    //-         option(value=item.status selected=item.class=="active" ? true : false) --#{item.name}--
                    form(id="form-search")
                        .input-group
                            input(type="text" placeholder="Nhập Từ Khóa" name="keyword" class="form-control" value=keyword width="200px")
                            .input-group-append
                                button(class="btn btn-success" type="submit") Tìm
    .card.mb-3
        .card-header Danh Sách Sản Phẩm
            .card-body
                .row 
                    table(class="table table-hover" checkbox-multi)
                        thead
                            tr  
                                th STT
                                th Hình Ảnh
                                th Tiêu Đề
                                th Giá
                                th Trạng Thái
                                th Hành Động
                        tbody 
                            each item,index in product
                                tr      
                                    td #{index + 1}
                                    td
                                        img(src=item.thumbnail, width="120px" height="auto" alt=item.title)
                                    td #{item.title}
                                    td #{item.price}$
                                    td 
                                        if(item.status == "active")
                                            a(href="#" class="badge badge-success" ) Hoạt Động
                                        else
                                            a(href="#" class="badge badge-danger"  ) Dừng Hoạt Động
                                    td  
                                        a(class="btn btn-secondary btn-sm btn-detail" ) Chi Tiết
                                        a(class="btn btn-warning btn-sm" ) Sửa
                                        button(class="btn btn-danger btn-sm ml-1" ) Xóa
