include ../mixin/sub-menu.pug
header.header
    .container
        .row
            .col-3
                .inner-logo
                    a(href="/")
                        img(src=Settinggeneral.logo, alt=Settinggeneral.websiteName) 
            .col-4
                form(action="/search")
                    div(class="form-group d-flex mb-0")
                        input(type="text" placeholder="Nhập Từ Khóa" name="keyword" class="form-control" value=keyword width="150px")
                        button(class="btn btn-primary" type="submit") Tìm
                     
            .col-5 
                .inner-menu
                    ul   
                        li
                            a(href="/") Trang Chủ
                        li(class="sub-menu")
                            -const path = "/product";
                            a(href="/product") Sản Phẩm
                            +sub-menu(categoryproduct,path)
                        li
                            a(href="/cart") Giỏ hàng (#{cart ? cart.totalQuantity : 0})
                        li
                            a(href="/order") Đơn Hàng
                        if(user)
                            li
                                a(href="/user/info") #{user.fullName}   
                            li
                                a(href="/user/logout") Đăng Xuất
                            li
                                a(href="/users/friends") Bạn Bè
                        else
                            li
                                a(href="/user/login") Đăng Nhập    
                            li
                                a(href="/user/register") Đăng Ký    