mixin alertsuccess(time)
    - if (messages.success)
        .message.info
            div(
                class="alert alert-success" 
                show-alert 
                data-time=time
            ) #{messages.success}<i class="fa-solid fa-xmark closedalert" alert-close></i>

mixin alerterror(time)
    - if (messages.error)
        .message.info
            div(
                class="alert alert-danger" 
                show-alert 
                data-time=time
            ) #{messages.error}<i class="fa-solid fa-xmark closedalert" alert-close></i>