mixin fillter-status(FillterStatus)
    each item in FillterStatus
        button(class=`btn btn-sm ml-1 btn-outline-success ${item.class}` button-status=item.status) #{item.name}

mixin fillter-status-select(FillterStatus)
    select(name="status" class="form-control" select-status)
        each item in FillterStatus
            option(class="text-center" value=item.status selected=item.class=="active" ? true : false) --#{item.name}--