.sider 
    .inner-menu
        ul 
            li 
                a(href=`${PrefixAdmin}/dashboard`) Tổng Quan 
            if (role.permission.includes("products-category-view"))
                li 
                    a(href=`${PrefixAdmin}/product-category`) Danh Mục Sản Phẩm
            if (role.permission.includes("products-view"))  
                li 
                    a(href=`${PrefixAdmin}/products`) Danh Sách Sản Phẩm
            if (role.permission.includes("roles-view"))
                li 
                    a(href=`${PrefixAdmin}/roles`) Nhóm Quyền
            if (role.permission.includes("roles-permissions"))
                li 
                    a(href=`${PrefixAdmin}/roles/permission`) Phân Quyền
            if (role.permission.includes("accounts-view"))
                li 
                    a(href=`${PrefixAdmin}/accounts`) Danh Sách Tài Khoản
            li 
                a(href=`${PrefixAdmin}/order`) Danh Sách Đơn Hàng

            li 
                a(href=`${PrefixAdmin}/setting/general`) Cài Đặt Chung
                
            if (role.permission.includes("products-trash-view"))
                li 
                    a(href=`${PrefixAdmin}/products/trash`) Thùng Rác 