.sider 
    .inner-menu
        ul 
            li 
                a(href=`${PrefixAdmin}/dashboard`) Tổng Quan 
            li 
                a(href=`${PrefixAdmin}/product-category`) Danh Mục Sản Phẩm  
            li 
                a(href=`${PrefixAdmin}/products`) Danh Sách Sản Phẩm
            li 
                a(href=`${PrefixAdmin}/roles`) Nhóm Quyền
            li 
                a(href=`${PrefixAdmin}/products/trash`) Thùng Rác 